<ul>
<% @donations.each do |d| %>
  <li>Method: <%= d.method %> -- Amount: <%= number_to_currency(d.amount) %> -- <%= link_to("Show", d) %> <%= link_to("Edit", edit_donation_path(d)) %> <%= link_to("Delete", donation_path(d), method: :delete) %></li>
<% end %>
</ul>
<%= link_to 'New Donation', new_donation_path %>